Repository paritytech/polkadot-testnet-faucet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: faucet-bot, faucet-server

faucet-bot:
  tags:
  - kubernetes-parity-build
  image: docker:git
  interruptible: true
  services:
  - docker:dind
  script:
  - DOCKERFILE="Dockerfile-$(echo "${CI_JOB_NAME}" | awk -F'-' '{print $NF}')"
  - export DOCKER_IMAGE="${CI_REGISTRY}/${CI_JOB_NAME}"
  ...

faucet-server:
  tags:
  - kubernetes-parity-build
  image: docker:git
  interruptible: true
  services:
  - docker:dind
  script:
  - DOCKERFILE="Dockerfile-$(echo "${CI_JOB_NAME}" | awk -F'-' '{print $NF}')"
  - export DOCKER_IMAGE="${CI_REGISTRY}/${CI_JOB_NAME}"
  ...

dockerPullplicy always (#24)
  .gitlab-ci.yml
  kubernetes/faucetbot/values.yaml
Due: none

corrected westend parameters
  kubernetes/faucetbot/westend-values.yaml
Due: none

production matrix roomname
  kubernetes/faucetbot/canvas-values.yaml
Due: none

less talkative
  src/bot/index.ts
Due: faucet-bot

less talkative (#26)
  src/bot/index.ts
Due: faucet-bot

add timestamp annotation
  kubernetes/faucetbot/templates/deployment.yaml
Due: none

add timestamp annotation (#27)
  kubernetes/faucetbot/templates/deployment.yaml
Due: none

fix: remove annotaion
  kubernetes/faucetbot/templates/deployment.yaml
Due: none

total error metric
  src/server/index.ts
Due: faucet-server

add some more catch
  src/server/ErrorCounter.ts
  src/server/actions.ts
  src/server/index.ts
Due: faucet-server

deploy image:$dockerTag not :latest
  .gitlab-ci.yml
Due: none

deploy image:$dockerTag not :latest (#29)
  .gitlab-ci.yml
Due: none

Add prometheus /metrics endpoint with the total amount of errors (#28)
  src/server/ErrorCounter.ts
  src/server/actions.ts
  src/server/index.ts
Due: faucet-server

added new environment for westend (testing)
  .gitlab-ci.yml
  kubernetes/faucetbot/westend-values.yaml
Due: none

added new environment for westend (testing) (#30)
  .gitlab-ci.yml
  kubernetes/faucetbot/westend-values.yaml
Due: none

fix: missing sa for westend depl
  kubernetes/faucetbot/westend-values.yaml
Due: none

fix: westend values wrong format
  kubernetes/faucetbot/westend-values.yaml
Due: none

fix: westend-rpc ws url
  kubernetes/faucetbot/westend-values.yaml
Due: none

setup for production
  kubernetes/faucetbot/westend-values.yaml
Due: none

setup for production (#31)
  kubernetes/faucetbot/westend-values.yaml
Due: none

fix: westenbot username
  kubernetes/faucetbot/westend-values.yaml
Due: none

cleanup ci/dc & readme
  .gitlab-ci.yml
  README.md
Due: none

imp: readme
  README.md
Due: none

Fv last bits (#32)
  .gitlab-ci.yml
  README.md
Due: none

log error on reconnect and timeout and new prometheus metric
  src/server/ErrorCounter.ts
  src/server/actions.ts
  src/server/index.ts
Due: faucet-server

log error on reconnect and timeout and new prometheus metric (#34)
  src/server/ErrorCounter.ts
  src/server/actions.ts
  src/server/index.ts
Due: faucet-server

gitlab-ci no longer supports docker
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

gitlab-ci no longer supports docker (#35)
  .gitlab-ci.yml
Due: none

bump all deps
  package.json
  yarn.lock
Due: none

bump all deps (#36)
  package.json
  yarn.lock
Due: none

prevent error at bot startup
  src/bot/index.ts
  src/server/actions.ts
Due: faucet-bot, faucet-server

double gift but once per day
  README.md
  kubernetes/faucetbot/values.yaml
  kubernetes/faucetbot/westend-values.yaml
  src/bot/index.ts
  src/server/storage.ts
Due: faucet-bot, faucet-server

double gift but once per day (#37)
  README.md
  kubernetes/faucetbot/values.yaml
  kubernetes/faucetbot/westend-values.yaml
  src/bot/index.ts
  src/server/storage.ts
Due: faucet-bot, faucet-server

connect only when needed
  src/bot/index.ts
  src/server/actions.ts
Due: faucet-bot, faucet-server

bump it all
  package.json
  yarn.lock
Due: none

connect only when needed (#40)
  src/bot/index.ts
  src/server/actions.ts
Due: faucet-bot, faucet-server

Path conditions:
  faucet-bot: any of: src/bot/**/*, Dockerfile-bot
  faucet-server: any of: src/server/**/*, Dockerfile-server
