Repository paritytech/polkadot-testnet-faucet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: faucet-bot, faucet-server

faucet-bot:
  tags:
  - kubernetes-parity-build
  image: docker:git
  interruptible: true
  services:
  - docker:dind
  script:
  - DOCKERFILE="Dockerfile-$(echo "${CI_JOB_NAME}" | awk -F'-' '{print $NF}')"
  - export DOCKER_IMAGE="${CI_REGISTRY}/${CI_JOB_NAME}"
  ...

faucet-server:
  tags:
  - kubernetes-parity-build
  image: docker:git
  interruptible: true
  services:
  - docker:dind
  script:
  - DOCKERFILE="Dockerfile-$(echo "${CI_JOB_NAME}" | awk -F'-' '{print $NF}')"
  - export DOCKER_IMAGE="${CI_REGISTRY}/${CI_JOB_NAME}"
  ...

run lint when dependancies change
  .github/workflows/lint.yml
Due: none

run lint when dependancies change (#42)
  .github/workflows/lint.yml
Due: none

fix lint
  src/server/index.ts
Due: faucet-server

stray comments
  src/server/index.ts
Due: faucet-server

Bump deps and fix logging account before sending tokens (#41)
  package.json
  src/server/index.ts
  yarn.lock
Due: faucet-server

scrape metrics via "ServiceMonitor"
  kubernetes/faucetbot/templates/service.yaml
Due: none

use http provider
  src/server/actions.ts
Due: faucet-server

change CI values
  README.md
  kubernetes/faucetbot/canvas-values.yaml
  kubernetes/faucetbot/values.yaml
  kubernetes/faucetbot/westend-values.yaml
  src/server/actions.ts
Due: faucet-server

Use http provider (#44)
  README.md
  kubernetes/faucetbot/canvas-values.yaml
  kubernetes/faucetbot/values.yaml
  kubernetes/faucetbot/westend-values.yaml
  src/server/actions.ts
Due: faucet-server

scrape metrics via "ServiceMonitor" (#43)
  kubernetes/faucetbot/templates/service.yaml
Due: none

ServiceMonitor endpoint must be type str
  kubernetes/faucetbot/templates/service.yaml
Due: none

ServiceMonitor endpoint must be type str (#45)
  kubernetes/faucetbot/templates/service.yaml
Due: none

bump
  package.json
  yarn.lock
Due: none

bump (#46)
  package.json
  yarn.lock
Due: none

better error
  src/bot/index.ts
  src/server/index.ts
Due: faucet-bot, faucet-server

better typing
  src/bot/index.ts
  src/server/index.ts
  src/types.ts
Due: faucet-bot, faucet-server

Show an error in the message room when something went wrong with the token transfer (#47)
  src/bot/index.ts
  src/server/index.ts
  src/types.ts
Due: faucet-bot, faucet-server

bump js version to 3.11.1
  package.json
Due: none

bump js version to 3.11.1 (#49)
  package.json
Due: none

Bump dependencies
  package.json
  yarn.lock
Due: none

Bump dependencies (#50)
  package.json
  yarn.lock
Due: none

add rococo values
  kubernetes/faucetbot/rococo-values.yaml
Due: none

add rococo CI
  .gitlab-ci.yml
Due: none

add rococo faucet deployment
  .gitlab-ci.yml
Due: none

bump rococo values to 1k
  kubernetes/faucetbot/rococo-values.yaml
Due: none

Bump versions
  package.json
  yarn.lock
Due: none

Bump @polkadot/keyring and @polkadot/util-crypto
  package.json
  yarn.lock
Due: none

reduce ROC faucet output
  kubernetes/faucetbot/rococo-values.yaml
Due: none

bump deps?
  package.json
  yarn.lock
Due: none

bump deps? (#54)
  package.json
  yarn.lock
Due: none

Bump @polkadot/api and friends
  package.json
  yarn.lock
Due: none

bump deps!
  package.json
  yarn.lock
Due: none

update node workflow
  .github/workflows/lint.yml
Due: none

bump faucet API (#55)
  .github/workflows/lint.yml
  README.md
  package.json
  yarn.lock
Due: none

bump again
  package.json
  yarn.lock
Due: none

Bump faucet API to support the new runtime upgrade (#58)
  package.json
  yarn.lock
Due: none

explicitly state registries in dockerfiles
  Dockerfile-bot
  Dockerfile-server
Due: faucet-bot, faucet-server

explicitly state registries in dockerfiles (#59)
  Dockerfile-bot
  Dockerfile-server
Due: faucet-bot, faucet-server

bumpppp deps (#60)
  package.json
  yarn.lock
Due: none

Path conditions:
  faucet-bot: any of: src/bot/**/*, Dockerfile-bot
  faucet-server: any of: src/server/**/*, Dockerfile-server
