Repository paritytech/polkadot-testnet-faucet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: faucet-bot, faucet-server

faucet-bot:
  tags:
  - kubernetes-parity-build
  image: docker:git
  interruptible: true
  services:
  - docker:dind
  script:
  - DOCKERFILE="Dockerfile-$(echo "${CI_JOB_NAME}" | awk -F'-' '{print $NF}')"
  - export DOCKER_IMAGE="${CI_REGISTRY}/${CI_JOB_NAME}"
  ...

faucet-server:
  tags:
  - kubernetes-parity-build
  image: docker:git
  interruptible: true
  services:
  - docker:dind
  script:
  - DOCKERFILE="Dockerfile-$(echo "${CI_JOB_NAME}" | awk -F'-' '{print $NF}')"
  - export DOCKER_IMAGE="${CI_REGISTRY}/${CI_JOB_NAME}"
  ...

update deps
  package.json
  yarn.lock
Due: none

update deps (#61)
  package.json
  yarn.lock
Due: none

bump deps and increase ROC output
  kubernetes/faucetbot/rococo-values.yaml
  package.json
  yarn.lock
Due: none

bump deps and increase ROC output (#62)
  kubernetes/faucetbot/rococo-values.yaml
  package.json
  yarn.lock
Due: none

add types for new canvas
  kubernetes/faucetbot/canvas-values.yaml
Due: none

add new types for canvas
  kubernetes/faucetbot/canvas-values.yaml
Due: none

add new types for canvas (#63)
  kubernetes/faucetbot/canvas-values.yaml
Due: none

bump api
  package.json
  yarn.lock
Due: none

bump api (#66)
  package.json
  yarn.lock
Due: none

Change ci vars source to Vault
  .gitlab-ci.yml
Due: none

Add blacklist filtering
  src/bot/blacklist.ts
  src/bot/index.ts
Due: faucet-bot

Load the list from ENV
  README.md
  src/bot/blacklist.ts
  src/bot/ignorellist.ts
  src/bot/index.ts
Due: faucet-bot

Optimize calls and add emoji ftw
  src/bot/ignorellist.ts
  src/bot/index.ts
Due: faucet-bot

Remove term "blacklist" as much as possible
  README.md
  src/bot/ignorellist.ts
  src/bot/index.ts
Due: faucet-bot

Add new ENV to the helm chart
  kubernetes/faucetbot/canvas-values.yaml
  kubernetes/faucetbot/rococo-values.yaml
  kubernetes/faucetbot/values.yaml
  kubernetes/faucetbot/westend-values.yaml
Due: none

Add decoding of the address
  src/bot/ignorellist.ts
Due: faucet-bot

fix linting
  src/bot/ignorellist.ts
Due: faucet-bot

Add resource limits to the deployment template
  deployment.template.yaml
Due: none

Fix the ignore list to use Matrix accounts
  README.md
  src/bot/ignorellist.ts
  src/bot/index.ts
  src/types.ts
Due: faucet-bot

Fix linting
  src/bot/ignorellist.ts
  src/bot/index.ts
Due: faucet-bot

Fix default values
  kubernetes/faucetbot/canvas-values.yaml
  kubernetes/faucetbot/rococo-values.yaml
  kubernetes/faucetbot/values.yaml
  kubernetes/faucetbot/westend-values.yaml
Due: none

Add resource limits to the helm chart
  kubernetes/faucetbot/templates/deployment.yaml
Due: none

Minor fixes
  kubernetes/faucetbot/templates/deployment.yaml
  kubernetes/faucetbot/values.yaml
Due: none

Move the ENV to the right section
  kubernetes/faucetbot/canvas-values.yaml
  kubernetes/faucetbot/rococo-values.yaml
  kubernetes/faucetbot/westend-values.yaml
Due: none

Change ci vars source to Vault (#68)
  .gitlab-ci.yml
Due: none

Query nonce to prevent low priority error
  src/server/actions.ts
Due: faucet-server

Query nonce to prevent low priority error (#73)
  src/server/actions.ts
Due: faucet-server

Provide better error messaging on dripping
  src/bot/index.ts
  src/server/actions.ts
  src/server/index.ts
  src/types.ts
Due: faucet-bot, faucet-server

Fix log position
  src/server/actions.ts
Due: faucet-server

Separate success and error drip responses
  src/bot/index.ts
  src/guards.ts
  src/server/actions.ts
  src/server/index.ts
  src/types.ts
Due: faucet-bot, faucet-server

Provide better error messaging on dripping (#74)
  src/bot/index.ts
  src/guards.ts
  src/server/actions.ts
  src/server/index.ts
  src/types.ts
Due: faucet-bot, faucet-server

Fix path to guard
  src/bot/index.ts
  src/server/index.ts
Due: faucet-bot, faucet-server

Fix path to guard (#75)
  src/bot/index.ts
  src/server/index.ts
Due: faucet-bot, faucet-server

Update src/bot/ignorellist.ts
  src/bot/ignorellist.ts
Due: faucet-bot

fix filename
  src/bot/ignoreList.ts
  src/bot/index.ts
Due: faucet-bot

remove resources constrain
  deployment.template.yaml
Due: none

Trim whitespaces in the address
  src/bot/index.ts
Due: faucet-bot

Trim whitespaces in the address (#76)
  src/bot/index.ts
Due: faucet-bot

Fix Readme
  README.md
Due: none

Fix isIgnored
  src/bot/ignoreList.ts
  src/bot/index.ts
Due: faucet-bot

Path conditions:
  faucet-bot: any of: src/bot/**/*, Dockerfile-bot
  faucet-server: any of: src/server/**/*, Dockerfile-server
